@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Batman.Resources.Index.BatmanName</h1>
    <p class="lead">@Batman.Resources.Index.BatmanStory</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">@Batman.Resources.Index.LearnMore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Batman.Resources.Index.TitleLego</h2>
		<img style="width: 200px; height: 200px" src="https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/characters/marvel/2017/76069_1to1_mf_mugshot_batman_336.png?l.r2=-1721293235" />
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">@Batman.Resources.Index.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Batman.Resources.Index.Title1966</h2>
		<img style="width: 200px; height: 200px" src="https://upload.wikimedia.org/wikipedia/en/a/a8/1966_Batman_titlecard.JPG" />
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">@Batman.Resources.Index.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Batman.Resources.Index.TitleCard</h2>
		<img style="width: 200px; height: 200px" src="https://i2.wp.com/manvspink.com/wp-content/uploads/2014/07/the-batman.jpg" />
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">@Batman.Resources.Index.LearnMore &raquo;</a></p>
    </div>
</div>