<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body style="background: black">
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				@if (ViewBag.language == "en")
				{
					string link = Request.Url.PathAndQuery.Replace("en", "ka");
					<a class="navbar-brand" href="@link">ქართული (Georgian)</a>
				}
				else
				{
					string link = Request.Url.PathAndQuery;
					if (link.Contains("ka"))
					{
						link = link.Replace("ka", "en");
					}
					else
					{
						link = link + "en";
					}
					<a class="navbar-brand" href="@link">English (ინგლისური)</a>
				}
			</ul>
			@*@Html.Partial("_LoginPartial")*@
		</div>
	</div>
</div>


<div class="container body-content">

	@RenderBody()
	<footer>
		<p>&copy; @DateTime.Now.Year - Bruce Wayne</p>
	</footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>